 @font-face {
    font-family: 'source_code_problack';
    src: url('/assets/sourcecodepro-black-webfont.eot');
    src: url('/assets/sourcecodepro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/sourcecodepro-black-webfont.woff2') format('woff2'),
         url('/assets/sourcecodepro-black-webfont.woff') format('woff'),
         url('/assets/sourcecodepro-black-webfont.ttf') format('truetype'),
         url('/assets/sourcecodepro-black-webfont.svg#source_code_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}